html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

:root {
  --color-white: #fff;
}

body {
  background: var(--color-white);
  max-width: 100%;
}

button {
  cursor: pointer;
}
